.card{
    height: 15rem;
    width: 12rem;
    position:absolute;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
    background:rgba(255,255,255,0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: -15px 26px 10rem 26px;
}
.card span:nth-of-type(2){
    color: var(--gray);
    font-size: 15px;
}
.card>img{
    transform:scale(0.7);
    margin-top: -4px;
    margin-bottom: -2rem;
}
.c-button{
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0,0,0,0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #5290fd;
}

.cards{
    position: relative;
}
.cards>*{
    position: absolute;
}
/* blur */
.s-blur2{
    left: 14rem;
    top: 8rem;
}
.s-blur1{
    top: 13rem;
    left: -18rem;
}
