.services {
    width: 100%;
    height: 100%;
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 30rem;
    margin-bottom: 8rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
    padding-top: 3rem;
  }
  #cards_all{
    width: 50%;
    margin-left: 20%;
  }
  #aws_all{
    width: 40%;
    margin-left: -5%;
    margin-top: 10%;

  }
  /* left side */
  .awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
  }
  .awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
  }
  .s-button {
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
  }
 
  /* right sided */
  .cards {
    position: relative;
  }
  .cards > * {
    position: absolute;
  }
  /* blur */
  .s-blur2 {
    left: 14rem;
    top: 8rem;
  }
  .s-blur1 {
    top: 13rem;
    left: -18rem;
  }
  
  @media screen and (max-width: 480px) {
    #services {
      margin-top: 0;
      margin-left: 6%;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;.services {
      padding: 0 3rem 0 3rem;
      display: flex;
      height: 30rem;
      margin-bottom: 8rem;
      margin-top: 9rem;
      margin-bottom: 13rem;
      padding-top: 3rem;
}
/* left side */
.awesome {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}
.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
#btn_down{
  width: 40%;
  height: 40px;
  text-align: center;
  margin-top: 25px;
  margin-left: -12px;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}
/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}
/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}
.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
}
      padding: 0;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    }
    .cards > * {
      position: static;
    }
  }























/* .services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome>:nth-child(1)
{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(2)
{  color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(3)
{
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button{
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
}
#btn1{
    margin-left: -15px;
    background-color: aqua;
}

@media screen and (max-width:720px)
{
    .services{
        flex-direction: column;
        margin-top: 0;
        height: 66rem;
        gap: 5rem;
        padding: 0;
    }
    
    #card1{
        flex-direction: column;
        display: flex;
        gap:5rem;
        margin-left: -7rem;
        margin-top: 0;
        padding: 0;
    }
    #card2{
        flex-direction: column;
        display: flex;
        gap: 10rem;
        margin-left: 10rem;
        margin-top: 9.5rem;
    }
    #card3{
        flex-direction: column;
        display: flex;
        gap: 17rem;
        margin-left: -7rem;
        margin-top: 24rem;
        padding: 0;
    }
    .awesome{
        margin-top: 5rem;
    }
    #servi p {
        align-items: justify;
    }
} */
